* {
  margin: 0;
  padding: 0;
}

.containerApp {
  background-color: #c6b9cd;
}

.navbar {
  background-color: #d6d3f0;
}

.itemsNav {
  border-bottom: 2px solid #0f5257;
  padding: 6px;
}

.itemsNav:hover {
  background: #9c92a3;
}

.cards {
  background-color: #9c92a3;
}

.titleTask {
  background: #c6b9cd;
  width: 100vw;
  text-align: center;
  margin-right: 10px;
}
.descrptionTask {
  margin: 6px 0 6px;
}

.doneItem {
  padding: 2px;
  font-size: 1.5rem;
}

.btn {
  background: #d6d3f0;
  margin-top: 6px;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9c92a3;
  height: 50vh;
  width: 35vw;
  margin-top: 5rem;
}

.titleForm {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
